<?xml version="1.0" encoding="utf-8" ?>
<!-- Sample log configuration file for writing program failures to files -->
<!-- Copy this file to your Console, Web, Windows, ... -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">
	<targets>
		<target name="console"
				xsi:type="ColoredConsole"
				layout="Server-Date: ${longdate}; Level: ${level}; Message: ${message}" />
		<target name="debug"
				xsi:type="Debugger"
				layout="Server-Date: ${longdate}; Level: ${level}; Message: ${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console,debug" />
	</rules>
</nlog>